@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the CD Collector.</h1>
    <p>Manage your CD records and artists with this application. Or why not <a asp-controller="Renters" asp-action="Index">rent a record?</a></p>
</div>
